<a href="https://colab.research.google.com/github/hiro-Anzai/tigerfish/blob/master/notebook/hello_python2/hello_python_No2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **第二回～機械学習の基礎**

# 1.CSVを読み込んで内容を確認しましょう

In [79]:
!curl -O https://raw.githubusercontent.com/khirotaka/tigerfish/master/utils/support.py

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   588  100   588    0     0  11529      0 --:--:-- --:--:-- --:--:-- 11529

In [2]:
import support

In [3]:
# データ加工・処理
import pandas as pd 
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [36]:
(x_train, y_train), x_test = support.fetch_titanic()

In [37]:
# trainデータを読み込む
x_train.head()

     pclass     sex   age  sibsp  ...  deck  embark_town alive  alone
857       1    male  51.0      0  ...     E  Southampton   yes   True
52        1  female  49.0      1  ...     D    Cherbourg   yes  False
386       3    male   1.0      5  ...   NaN  Southampton    no  False
124       1    male  54.0      0  ...     D  Southampton    no  False
578       3  female   NaN      1  ...   NaN    Cherbourg    no  False

[5 rows x 14 columns]

In [38]:
y_train.head()

857    1
52     1
386    0
124    0
578    0
Name: survived, dtype: int64

In [39]:
# testデータを読み込む
x_test.head()

     pclass     sex   age  sibsp  ...  deck  embark_town alive  alone
495       3    male   NaN      0  ...   NaN    Cherbourg    no   True
648       3    male   NaN      0  ...   NaN  Southampton    no   True
278       3    male   7.0      4  ...   NaN   Queenstown    no  False
31        1  female   NaN      1  ...     B    Cherbourg   yes  False
255       3  female  29.0      0  ...   NaN    Cherbourg   yes  False

[5 rows x 14 columns]

##1.2 配列の形状

In [40]:
# 配列の形状を確認
test_shape = x_test.shape
x_train_shape = x_train.shape
y_train_shape = y_train.shape
print(test_shape)
print(x_train_shape)
print(y_train_shape)

(268, 14)
(623, 14)
(623,)

## 1.3基本統計量

In [41]:
# 基本統計量
x_test.describe()

           pclass         age       sibsp       parch        fare
count  268.000000  212.000000  268.000000  268.000000  268.000000
mean     2.358209   29.187123    0.503731    0.354478   31.613603
std      0.824739   14.594147    0.950057    0.742817   52.969870
min      1.000000    0.420000    0.000000    0.000000    0.000000
25%      2.000000   19.000000    0.000000    0.000000    7.895800
50%      3.000000   27.000000    0.000000    0.000000   13.000000
75%      3.000000   38.000000    1.000000    0.000000   29.268750
max      3.000000   70.500000    5.000000    5.000000  512.329200

In [42]:
x_train.describe()

           pclass         age       sibsp       parch        fare
count  623.000000  502.000000  623.000000  623.000000  623.000000
mean     2.287319   29.915339    0.531300    0.393258   32.458273
std      0.840657   14.506994    1.162891    0.832085   48.257658
min      1.000000    0.670000    0.000000    0.000000    0.000000
25%      1.500000   21.000000    0.000000    0.000000    7.925000
50%      3.000000   29.000000    0.000000    0.000000   15.000000
75%      3.000000   38.000000    1.000000    0.000000   31.387500
max      3.000000   80.000000    8.000000    6.000000  512.329200

In [43]:
y_train.describe()

count    623.000000
mean       0.388443
std        0.487788
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: survived, dtype: float64

# 2.データセットの欠損の確認

In [12]:
x_train.isnull().sum()

pclass           0
sex              0
age            121
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           472
embark_town      2
alive            0
alone            0
dtype: int64

In [44]:
y_train.isnull().sum()

0

In [45]:
x_test.isnull().sum()

pclass           0
sex              0
age             56
sibsp            0
parch            0
fare             0
embarked         0
class            0
who              0
adult_male       0
deck           216
embark_town      0
alive            0
alone            0
dtype: int64

# 3.前処理（データセットの事前処理）

## 3.1欠損データを代理データに入れ替える

In [46]:
# 埋める前ではS,C,Q,nanの4種類あることを確認
x_train["embarked"].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [47]:
# embarkedの欠損を最頻値で埋める
x_train["embarked"] = x_train["embarked"].fillna(x_train["embarked"].mode().iloc[0])

In [48]:
# 埋めた後ではS,C,Qの3種類あることを確認
x_train["embarked"].unique()

array(['S', 'C', 'Q'], dtype=object)

In [49]:
# ageの欠損を中央値で埋める
x_train["age"] = x_train["age"].fillna(x_train["age"].median())
x_test["age"] = x_test["age"].fillna(x_test["age"].median())

In [50]:
# 欠損値がなくなったか確認
x_train["age"].isnull().sum()

0

In [51]:
# 欠損値がなくなったか確認
x_test["age"].isnull().sum()

0

In [52]:
# Fareを中央値で埋める
x_test["fare"] = x_test["fare"].fillna(x_test["fare"].median())

In [53]:
# 欠損がなくなったか確認
x_test["fare"].isnull().sum()

0

In [54]:
x_train.isnull().sum()

pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         0
class            0
who              0
adult_male       0
deck           472
embark_town      2
alive            0
alone            0
dtype: int64

In [55]:
x_test.isnull().sum()

pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         0
class            0
who              0
adult_male       0
deck           216
embark_town      0
alive            0
alone            0
dtype: int64

##3.2 文字列カテゴリカルデータを数字へ変換

In [56]:
# データ型の確認
x_train.dtypes

pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object

In [57]:
# maleを0に、femaleを1に変換
x_train["sex"] = x_train["sex"].map({"male":0, "female":1})
x_test["sex"] = x_test["sex"].map({"male":0, "female":1})

In [58]:
# embarkedをダミー変数化
x_train = pd.get_dummies(x_train, columns=["embarked"])
x_test = pd.get_dummies(x_test, columns=["embarked"])

In [59]:
# データ型の確認
x_train.dtypes

pclass            int64
sex               int64
age             float64
sibsp             int64
parch             int64
fare            float64
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
embarked_C        uint8
embarked_Q        uint8
embarked_S        uint8
dtype: object

In [60]:
# データ型の確認
x_test.dtypes

pclass            int64
sex               int64
age             float64
sibsp             int64
parch             int64
fare            float64
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
embarked_C        uint8
embarked_Q        uint8
embarked_S        uint8
dtype: object

## 3.3不要なカラムの削除

In [61]:
# 不要なカラムの削除
x_train = x_train.drop(["class", "who", "adult_male", "deck", "embark_town", "deck", "alone", "alive"], axis=1)
x_test = x_test.drop(["class","who", "adult_male",  "deck", "embark_town", "deck", "alone", "alive"], axis=1)

In [62]:
# データ型の確認
x_train.dtypes

pclass          int64
sex             int64
age           float64
sibsp           int64
parch           int64
fare          float64
embarked_C      uint8
embarked_Q      uint8
embarked_S      uint8
dtype: object

In [63]:
# データ型の確認
x_test.dtypes

pclass          int64
sex             int64
age           float64
sibsp           int64
parch           int64
fare          float64
embarked_C      uint8
embarked_Q      uint8
embarked_S      uint8
dtype: object

# 4.予測モデル その1 「決定木」

In [72]:
# 決定木モデルの作成
k=3
clf1 = DecisionTreeClassifier(max_depth=k)
clf1 = clf1.fit(x_train, y_train)

In [73]:
# 訓練データの正解率
print('正解率(train):{:.3f}'.format(clf1.score(x_train, y_train)))

正解率(train):0.836

In [74]:
y_pred = clf1.predict(x_test)
print(support.calc_score(y_pred))

0.7551020408163266

**演習問題1**
max_depthの値を変えて精度の変化を調べてみましょう

# 5.予測モデル その2 「kNN」

In [75]:
# データやモデルを構築するためのライブラリ等のインポート
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier

In [76]:
# 学習
k=3
knn = KNeighborsClassifier(n_neighbors=k)
knn.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [77]:
# 訓練データの正解率
print('正解率(train):{:.3f}'.format(knn.score(x_train, y_train)))

正解率(train):0.827

In [78]:
y_pred = knn.predict(x_test)
print(support.calc_score(y_pred))

0.5123152709359606

演習問題2 n_neighborsの値を変えて精度の変化を調べてみましょう