<a href="https://colab.research.google.com/github/Minami5/tigerfish/blob/master/notebooks/dl/DL_No2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# データセットをダウンロードして中身を確認

In [1]:
!curl -O https://raw.githubusercontent.com/khirotaka/tigerfish/master/utils/support.py

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   588  100   588    0     0   4200      0 --:--:-- --:--:-- --:--:--  4200

In [2]:
import support

In [3]:
(x_train, y_train), x_test = support.fetch_titanic()  # 訓練用データとテスト用データに分割

In [4]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 623 entries, 857 to 684
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pclass       623 non-null    int64
 1   sex          623 non-null    object
 2   age          502 non-null    float64
 3   sibsp        623 non-null    int64
 4   parch        623 non-null    int64
 5   fare         623 non-null    float64
 6   embarked     621 non-null    object
 7   class        623 non-null    category
 8   who          623 non-null    object
 9   adult_male   623 non-null    bool
 10  deck         151 non-null    category
 11  embark_town  621 non-null    object
 12  alive        623 non-null    object
 13  alone        623 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(3), object(5)
memory usage: 56.4+ KB

In [5]:
x_train.head()

     pclass     sex   age  sibsp  ...  deck  embark_town alive  alone
857       1    male  51.0      0  ...     E  Southampton   yes   True
52        1  female  49.0      1  ...     D    Cherbourg   yes  False
386       3    male   1.0      5  ...   NaN  Southampton    no  False
124       1    male  54.0      0  ...     D  Southampton    no  False
578       3  female   NaN      1  ...   NaN    Cherbourg    no  False

[5 rows x 14 columns]

In [6]:
x_train.isnull().sum()

pclass           0
sex              0
age            121
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           472
embark_town      2
alive            0
alone            0
dtype: int64

# データの前処理

In [7]:
x_train = x_train.drop(["age", "embarked", "deck", "embark_town"], axis=1)

In [8]:
x_train.isnull().sum()

pclass        0
sex           0
sibsp         0
parch         0
fare          0
class         0
who           0
adult_male    0
alive         0
alone         0
dtype: int64

In [9]:
import pandas as pd

In [10]:
x_train = pd.get_dummies(x_train)   # 文字列で別れたデータをone-hot表現で変換

In [11]:
x_train.head()

     pclass  sibsp  parch     fare  ...  who_man  who_woman  alive_no  alive_yes
857       1      0      0  26.5500  ...        1          0         0          1
52        1      1      0  76.7292  ...        0          1         0          1
386       3      5      2  46.9000  ...        0          0         1          0
124       1      0      1  77.2875  ...        1          0         1          0
578       3      1      0  14.4583  ...        0          1         1          0

[5 rows x 16 columns]

# PyTorchライブラリのインポート

In [12]:
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import Dataset, DataLoader
import numpy as np

In [13]:
data = torch.tensor(x_train.values.astype(np.float32))
print(data[:5])
print(data.shape)
print("-" * 50)
targets = torch.tensor(y_train.values.astype(np.int64))
print(targets[:5])
print(targets.shape)

tensor([[ 1.0000,  0.0000,  0.0000, 26.5500,  1.0000,  1.0000,  0.0000,  1.0000,
          1.0000,  0.0000,  0.0000,  0.0000,  1.0000,  0.0000,  0.0000,  1.0000],
        [ 1.0000,  1.0000,  0.0000, 76.7292,  0.0000,  0.0000,  1.0000,  0.0000,
          1.0000,  0.0000,  0.0000,  0.0000,  0.0000,  1.0000,  0.0000,  1.0000],
        [ 3.0000,  5.0000,  2.0000, 46.9000,  0.0000,  0.0000,  0.0000,  1.0000,
          0.0000,  0.0000,  1.0000,  1.0000,  0.0000,  0.0000,  1.0000,  0.0000],
        [ 1.0000,  0.0000,  1.0000, 77.2875,  1.0000,  0.0000,  0.0000,  1.0000,
          1.0000,  0.0000,  0.0000,  0.0000,  1.0000,  0.0000,  1.0000,  0.0000],
        [ 3.0000,  1.0000,  0.0000, 14.4583,  0.0000,  0.0000,  1.0000,  0.0000,
          0.0000,  0.0000,  1.0000,  0.0000,  0.0000,  1.0000,  1.0000,  0.0000]])
torch.Size([623, 16])
--------------------------------------------------
tensor([1, 1, 0, 0, 0])
torch.Size([623])

# データセットの作成

In [14]:
class TitanicDataset(Dataset):
  def __init__(self, x, y):
    self.data = x
    self.targets = y

  def __len__(self):
    return len(self.targets)

  def __getitem__(self, item):
    x = self.data[item]
    y = self.targets[item]
    return x, y

In [15]:
train_ds = TitanicDataset(data, targets)
train_loader = DataLoader(train_ds, batch_size=32, shuffle=True)

# ネットワークの実装

In [24]:
class Model(nn.Module):
  def __init__(self, in_features, mid_features, n_class):
    super().__init__()
  def forward(self, x):

# モデルの学習

In [25]:
model = Model(16, 10, 2)    # インスタンスを生成
optimizier = optim.Adam(model.parameters())   # 最適化アルゴリズム
criterion = nn.CrossEntropyLoss()   # 損失関数

In [26]:
from tqdm.auto import tqdm

In [27]:
epochs = 10

with tqdm(total=epochs) as pbar:
  for epoch in range(epochs):
    for batch in train_loader:
      a, b = batch
      optimizier.zero_grad()
      out = model(a)
      loss = criterion(out, b)
      loss.backward()
      optimizier.step()
      pbar.set_description("loss: {:.4f}".format(loss.detach().item()))
    pbar.update(1)

HBox(children=(FloatProgress(value=0.0, max=10.0), HTML(value='')))

# モデルを評価

In [28]:
x_test = x_test.drop(["age", "embarked", "deck", "embark_town"], axis=1)
x_test = pd.get_dummies(x_test)
x_test = torch.tensor(x_test.values.astype(np.float32))
with torch.no_grad():
  result = model(x_test)
  predicts = torch.max(result, 1)[1]

In [29]:
support.calc_score(predicts)    # f1_score, 最大値１、最小値０

0.8950276243093923